@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hola, @User.Identity.Name </span>
        </li>
        <li class="nav-item">
            <form class="form-inle" asp-action="logout" asp-controller="usuarios">
                <button type="submit" class="nav-link btn btn-link text-dark">logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <span class="nav-link text-dark" asp-controller="usuarios" asp-action="Registro">
                Registrate 
           </span>
        </li>

        <li class="nav-item">
            <span class="nav-link text-dark" asp-controller="usuarios" asp-action="Login">
                Login
            </span>
        </li>
    }
</ul>